#indikatorsv1
{
	position: relative;
	top:-282px;
	left:15px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
	border-radius: 40px;
}
#indikatorsv2
{
	position: relative;
	top:-332px;
	left:151px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
	border-radius: 40px;
}
#indikatorsv3
{
	position: relative;
	top:-224px;
	left:131px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
	border-radius: 40px;
}
#indikatorsv4
{
	position: relative;
	top:-332px;
	left:325px;
	width: 200px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
	border-radius: 40px;
}
#indikatorsv5
{
	position: relative;
	top:-224px;
	left:305px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
	border-radius: 40px;
}
#indikatorsv6
{
	position: relative;
	top:-278px;
	left:178px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
	border-radius: 40px;
}
#indikatorm1
{
	position: relative;
	top:-303px;
	left:145px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
}
#indikatorm2
{
	position: relative;
	top:-193px;
	left:121px;
	width: 100px;
	background-color: rgb(195,195,195);
	z-index: 2;
	color:rgb(195,195,195);
}

@media (max-width: 460px)
{
	#indikatorsv1, #indikatorsv2, #indikatorsv3, #indikatorsv4, #indikatorsv5, #indikatorsv6, #indikatorm1, #indikatorm2
	{
		font-size:10px;
	}
	#indikatorsv1
	{
		top:-162px;
		left:8px;
	}
	#indikatorsv2
	{
		top:-190px;
		left:79px;
	}
	#indikatorsv3
	{
		top:-130px;
		left:65px;
	}
	#indikatorsv4
	{
		top:-190px;
		left:169px;
	}
	#indikatorsv5
	{
		position: relative;
		top:-130px;
		left:155px;
	}
	#indikatorsv6
	{
		position: relative;
		top:-160px;
		left:82px;
	}
	#indikatorm1
	{
		top:-173px;
		left:59px;
	}
	#indikatorm2
	{
		top:-112px;
		left:43px;
	}
}