#tombol1 input:active
{
	background-color:#41f321;
}
#tombol2 input:active
{
	background-color:#41f321;
}
#tombol3 input:active
{
	background-color:#41f321;
}
#tombol4 input:active
{
	background-color:#41f321;
}
#tomboloff input:active
{
	background:red;
}
#tombol1
{
	position:relative;
	top:7px;
}
#tombol2
{
	position:relative;
	top: 7px;
}
#tombol3
{
	position:relative;
	left: 120px;
	top: -85px;
}
#tombol4
{
	position:relative;
	left: 120px;
	top: -85px;
}
#tomboloff
{
	position: relative;
	top: -85px;
	left: 50px;
}
#level1, #level2
{
	position: relative;
	top: -230px;
	left: 320px;
}
#judulcontrol2
{
	position: relative;
	top: -240px;
	left: 295px;
}
#judulcontrol1
{
	position: relative;
	left: 40px;
}
#emergency
{
	position: relative;
	top: -185px;
	left: 50px;
}
	

.uktombol1, .uktombol2, .uktombol3, .uktombol4
{
	width: 100px;
	height: 30px;
	border-radius: 40px;
	letter-spacing: 1px;
	font-size: 15px;
	border: 2px solid #41f321;
	background-color:#fff;
}
.uktomboloff
{
	width: 100px;
	height: 25px;
	border-radius: 40px;
	letter-spacing: 1px;
	font-size: 15px;
	border: 2px solid red;
	background-color:#fff;
}
.ukemergency
{
	width: 100px;
	height: 25px;
	border-radius: 40px;
	letter-spacing: 1px;
	font-size: 12px;
	background-color:red;
}
.uklevel1, .uklevel2, .uklevel3, .uklevel4, .uklevel5
{
	width: 50px;
	height: 25px;
	letter-spacing: 1px;
	font-size: 15px;
	border: 2px solid black;
	background-color:#fff;
}

@media (max-width: 460px)
{
	.uktombol1, .uktombol2, .uktombol3, .uktombol4, .uklevel1, .uklevel2
	{
		width: 70px;
		height: 20px;
		font-size: 10px;
	}
	.uktomboloff
	{
		width: 70px;
		height: 20px;
		font-size: 10px;
	}
	#tombol3
	{
		top:-65px;
		left: 90px
	}
	#tombol4
	{
		top: -65px;
		left: 90px;
	}
	#tomboloff
	{
		top: -65px;
		left: 40px;
	}
	#judulcontrol1
	{
		left: 10px;
	}
	#judulcontrol2
	{
		left: 200px;
		top: -198px;
	}
	#level1
	{
		left: 215px;
		top : -192px;
	}
	#level2
	{
		left: 215px;
		top : -192px;
	}
}
	